[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
graphviz = "*"
PyYAML = "*"

[dev-packages]
pytest = "*"
coverage = "*"
factory-boy = "*"
pytest-pylint = "*"
pytest-runner = "*"
pycodestyle = "*"

[requires]
python_version = "3.6"
